# TASK<a href="#TASK" class="anchor-link">¶</a>

-   Download the rough **Hepatitis** dataset from the [UCI Machine
    Learning
    Repository](https://archive.ics.uci.edu/ml/datasets/hepatitis)
-   Load the dataset (*hepatitis.data*) in Python (using the correct
    names for the variables as described in the *hepatitis.name* file)
-   Handle missing values
-   Save the final dataset in the .csv format

In [1]:
import pandas as pd
import os

In [2]:
columns = ['Class',
                'AGE',
                'SEX',
                'STEROID',
                'ANTIVIRALS',
                'FATIGUE',
                'MALAISE',
                'ANOREXIA',
                'LIVER BIG',
                'LIVER FIRM',
                'SPLEEN PALPABLE',
                'SPIDERS',
                'ASCITES',
                'VARICES',
                'BILIRUBIN',
                'ALK PHOSPHATE',
                'SGOT',
                'ALBUMIN',
                'PROTIME',
                'HISTOLOGY']

In [4]:
df = pd.read_csv('/Users/marysia/Downloads/hepatitis.csv',names = columns, na_values = '?')
df

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
1,2,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.9,95.0,28.0,4.0,75.0,1
2,2,39,1,1.0,1,2.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,1.3,78.0,30.0,4.4,85.0,1
3,2,32,1,2.0,1,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0,59.0,249.0,3.7,54.0,1
4,2,41,1,2.0,1,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.9,81.0,60.0,3.9,52.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,2,45,1,2.0,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.3,85.0,44.0,4.2,85.0,2
77,1,49,1,1.0,2,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,1.4,85.0,70.0,3.5,35.0,2
78,2,31,1,1.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.2,75.0,173.0,4.2,54.0,2
79,2,53,2,1.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.5,81.0,19.0,4.1,48.0,2
80,1,43,1,2.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.2,100.0,19.0,3.1,42.0,2

In [5]:
for col in df.columns:
    display(df[col].value_counts())

Class
2        67
1        13
Class     1
Name: count, dtype: int64

AGE
38     7
30     5
34     4
32     4
50     4
39     3
47     3
40     3
27     3
54     3
42     3
36     3
51     2
28     2
31     2
49     2
25     2
33     2
41     2
59     1
AGE    1
72     1
48     1
20     1
57     1
45     1
53     1
62     1
52     1
37     1
64     1
44     1
56     1
65     1
23     1
35     1
26     1
61     1
58     1
22     1
43     1
Name: count, dtype: int64

SEX
1      69
2      11
SEX     1
Name: count, dtype: int64

STEROID
2.0        42
1.0        38
STEROID     1
Name: count, dtype: int64

ANTIVIRALS
2             59
1             21
ANTIVIRALS     1
Name: count, dtype: int64

FATIGUE
1.0        52
2.0        28
FATIGUE     1
Name: count, dtype: int64

MALAISE
2.0        49
1.0        31
MALAISE     1
Name: count, dtype: int64

ANOREXIA
2.0         68
1.0         12
ANOREXIA     1
Name: count, dtype: int64

LIVER BIG
2.0          67
1.0          13
LIVER BIG     1
Name: count, dtype: int64

LIVER FIRM
2.0           42
1.0           38
LIVER FIRM     1
Name: count, dtype: int64

SPLEEN PALPABLE
2.0                65
1.0                15
SPLEEN PALPABLE     1
Name: count, dtype: int64

SPIDERS
2.0        55
1.0        25
SPIDERS     1
Name: count, dtype: int64

ASCITES
2.0        68
1.0        12
ASCITES     1
Name: count, dtype: int64

VARICES
2.0        70
1.0        10
VARICES     1
Name: count, dtype: int64

BILIRUBIN
1.0          16
0.7          15
1.3           6
0.9           6
0.6           5
1.2           5
0.8           4
0.4           2
1.4           2
4.6           2
0.5           2
1.6           2
1.5           2
2.0           2
1.7           1
2.4           1
4.8           1
BILIRUBIN     1
2.3           1
3.5           1
1.8           1
0.3           1
2.2           1
2.8           1
Name: count, dtype: int64

ALK PHOSPHATE
85.0             9
78.0             3
81.0             3
62.0             3
100.0            2
215.0            2
72.0             2
95.0             2
70.0             2
75.0             2
155.0            2
230.0            1
40.0             1
107.0            1
ALK PHOSPHATE    1
76.0             1
44.0             1
141.0            1
30.0             1
147.0            1
86.0             1
84.0             1
123.0            1
168.0            1
34.0             1
63.0             1
139.0            1
160.0            1
82.0             1
115.0            1
243.0            1
181.0            1
130.0            1
55.0             1
26.0             1
103.0            1
58.0             1
59.0             1
57.0             1
53.0             1
48.0             1
133.0            1
60.0             1
45.0             1
175.0            1
280.0            1
135.0            1
194.0            1
164.0            1
180.0            1
46.0             1
71.0             1
191.0            1
125.0            1
110.0            1
50.0             1
52.0             1
80.0             1
102.0            1
166.0            1
Name: count, dtype: int64

SGOT
55.0     3
30.0     3
44.0     3
20.0     3
18.0     3
38.0     2
75.0     2
157.0    2
24.0     2
28.0     2
31.0     2
92.0     2
53.0     2
58.0     2
19.0     2
46.0     2
98.0     2
68.0     1
117.0    1
60.0     1
69.0     1
128.0    1
23.0     1
227.0    1
269.0    1
225.0    1
80.0     1
25.0     1
123.0    1
118.0    1
249.0    1
52.0     1
49.0     1
181.0    1
140.0    1
70.0     1
173.0    1
81.0     1
156.0    1
224.0    1
144.0    1
63.0     1
29.0     1
150.0    1
14.0     1
90.0     1
420.0    1
42.0     1
65.0     1
145.0    1
166.0    1
78.0     1
89.0     1
64.0     1
54.0     1
43.0     1
15.0     1
45.0     1
SGOT     1
Name: count, dtype: int64

ALBUMIN
4.0        12
4.2        10
4.4         6
3.9         6
4.1         6
3.8         6
3.4         3
3.5         3
4.5         3
2.9         3
3.1         3
4.3         3
3.3         2
2.7         2
3.6         2
3.0         2
2.1         1
2.4         1
ALBUMIN     1
5.0         1
4.6         1
4.7         1
4.9         1
3.7         1
2.6         1
Name: count, dtype: int64

PROTIME
100.0      11
74.0        4
85.0        4
46.0        4
66.0        4
54.0        3
52.0        3
31.0        3
90.0        3
41.0        2
29.0        2
70.0        2
56.0        2
60.0        2
67.0        2
57.0        2
62.0        2
PROTIME     1
51.0        1
32.0        1
23.0        1
72.0        1
84.0        1
30.0        1
0.0         1
50.0        1
35.0        1
48.0        1
38.0        1
77.0        1
58.0        1
76.0        1
75.0        1
21.0        1
73.0        1
40.0        1
36.0        1
47.0        1
39.0        1
64.0        1
63.0        1
78.0        1
42.0        1
Name: count, dtype: int64

HISTOLOGY
1            47
2            33
HISTOLOGY     1
Name: count, dtype: int64

In [6]:
df.isna().sum(axis=0)

Class              0
AGE                0
SEX                0
STEROID            0
ANTIVIRALS         0
FATIGUE            0
MALAISE            0
ANOREXIA           0
LIVER BIG          0
LIVER FIRM         0
SPLEEN PALPABLE    0
SPIDERS            0
ASCITES            0
VARICES            0
BILIRUBIN          0
ALK PHOSPHATE      0
SGOT               0
ALBUMIN            0
PROTIME            0
HISTOLOGY          0
dtype: int64

In [7]:
# ignoring tuples, just as an example: in this way too much information is discarded (almost half of the dataset)

In [8]:
df_notna = df.dropna(how='any')
df_notna

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
1,2,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.9,95.0,28.0,4.0,75.0,1
2,2,39,1,1.0,1,2.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,1.3,78.0,30.0,4.4,85.0,1
3,2,32,1,2.0,1,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0,59.0,249.0,3.7,54.0,1
4,2,41,1,2.0,1,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.9,81.0,60.0,3.9,52.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,2,45,1,2.0,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.3,85.0,44.0,4.2,85.0,2
77,1,49,1,1.0,2,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,1.4,85.0,70.0,3.5,35.0,2
78,2,31,1,1.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.2,75.0,173.0,4.2,54.0,2
79,2,53,2,1.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.5,81.0,19.0,4.1,48.0,2
80,1,43,1,2.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.2,100.0,19.0,3.1,42.0,2

In [10]:
df_notna.to_csv(os.path.join('dataset','hepatitis.csv'),index = None)